* text=auto eol=lf

*.java text working-tree-encoding=UTF-8 eol=lf
*.xml text working-tree-encoding=UTF-8 eol=lf
*.yml text working-tree-encoding=UTF-8 eol=lf
*.yaml text working-tree-encoding=UTF-8 eol=lf
*.properties text working-tree-encoding=UTF-8 eol=lf
*.sql text working-tree-encoding=UTF-8 eol=lf
*.md text working-tree-encoding=UTF-8 eol=lf
*.txt text working-tree-encoding=UTF-8 eol=lf

*.db binary
*.sqlite binary
*.sqlite3 binary
*.jar binary
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
