<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanhe.project.device.alarm.mapper.AlarmLogMapper">

    <resultMap type="com.shanhe.project.device.alarm.domain.AlarmLog" id="AlarmLogResult">
        <result property="alarmId"    column="alarm_id"    />
        <result property="configId"    column="config_id"    />
        <result property="configName"    column="config_Name"    />
        <result property="type"    column="type"    />
        <result property="packNum"    column="pack_num"    />
        <result property="modelNum"    column="model_num"    />
        <result property="itemCode"    column="item_code"    />
        <result property="alarmLevel"    column="alarm_level"    />
        <result property="dataInfo"    column="data_info"    />
        <result property="status"    column="status"    />
        <result property="shied"    column="shied"    />
        <result property="shiedTime"    column="shied_time"    />
        <result property="duration"    column="duration"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAlarmLogVo">
        select
            l.alarm_id, l.config_id, l.pack_num, l.model_num, l.item_code, l.alarm_level, l.data_info, l.status, l.shied, l.shied_time, l.duration, l.remark, l.create_time, l.update_time, c.name as config_Name, c.type
        from dev_alarm_log l left join dev_config c on l.config_id = c.config_id and c.status = 0
    </sql>

    <select id="selectAlarmLogList" parameterType="com.shanhe.project.device.alarm.domain.AlarmLog" resultMap="AlarmLogResult">
        <include refid="selectAlarmLogVo"/>
        <where>
            and (l.config_id = 1 or c.type is not null)
            <if test="configId != null "> and l.config_id = #{configId}</if>
            <if test="packNum != null "> and l.pack_num = #{packNum}</if>
            <if test="modelNum != null "> and l.model_num = #{modelNum}</if>
            <if test="itemCode != null  and itemCode != ''"> and l.item_code = #{itemCode}</if>
            <if test="alarmLevel != null  and alarmLevel != ''"> and l.alarm_level = #{alarmLevel}</if>
            <if test="dataInfo != null  and dataInfo != ''"> and l.data_info like '%'||#{dataInfo}||'%'</if>
            <if test="status != null "> and l.status = #{status}</if>
            <if test="shied != null "> and l.shied = #{shied}</if>
            <if test="includeItemCodes != null and includeItemCodes.size() > 0">
                and l.item_code in
                <foreach collection="includeItemCodes" item="itemCode" open="(" separator="," close=")">
                    #{itemCode}
                </foreach>
            </if>
            <if test="excludeItemCodes != null and excludeItemCodes.size() > 0">
                and l.item_code not in
                <foreach collection="excludeItemCodes" item="itemCode" open="(" separator="," close=")">
                    #{itemCode}
                </foreach>
            </if>
            <if test="excludeModelNum != null and excludeModelNum.size() > 0">
                and l.model_num not in
                <foreach collection="excludeModelNum" item="itemCode" open="(" separator="," close=")">
                    #{itemCode}
                </foreach>
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and (
                strftime('%Y-%m-%d %H:%M:%S', l.create_time) &gt;= strftime('%Y-%m-%d %H:%M:%S', #{params.beginTime}) or
                strftime('%Y-%m-%d %H:%M:%S', l.update_time) &gt;= strftime('%Y-%m-%d %H:%M:%S', #{params.beginTime})
                )
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and (
                strftime('%Y-%m-%d %H:%M:%S', l.create_time) &lt;= strftime('%Y-%m-%d %H:%M:%S', #{params.endTime}) or
                strftime('%Y-%m-%d %H:%M:%S', l.update_time) &lt;= strftime('%Y-%m-%d %H:%M:%S', #{params.endTime})
                )
            </if>
        </where>
        order by l.status desc, l.alarm_id desc
    </select>

    <select id="allAlarmLog" parameterType="com.shanhe.project.device.alarm.domain.AlarmLog" resultMap="AlarmLogResult">
        select
            l.alarm_id, l.config_id, l.pack_num, l.model_num, l.item_code, l.alarm_level, l.data_info, l.status, l.shied, l.shied_time, l.duration, l.remark, l.create_time, l.update_time
        from dev_alarm_log l left join dev_config c on l.config_id = c.config_id
        WHERE l.status = 1 or (strftime('%Y-%m-%d %H:%M:%S', l.shied_time) &gt;= strftime('%Y-%m-%d %H:%M:%S', datetime(CURRENT_TIMESTAMP,'localtime'))) order by l.alarm_id desc
    </select>

    <select id="selectAlarmLogByAlarmId" parameterType="Long" resultMap="AlarmLogResult">
        <include refid="selectAlarmLogVo"/>
        where l.alarm_id = #{alarmId}
    </select>

    <select id="alarmDeviceNum" resultType="Long">
        SELECT count(0) from dev_config c WHERE c.status = 0 AND EXISTS (select 1 from dev_alarm_log l where l.status = 1 and l.config_id = c.config_id)
    </select>

    <select id="alarmAllNum" resultType="Long">
        select count(0) from dev_alarm_log l where l.status = 1 and (l.config_id = 1 or EXISTS (SELECT 1 from dev_config c WHERE l.config_id = c.config_id and c.status = 0))
    </select>

    <select id="alarmNum" parameterType="com.shanhe.project.device.alarm.domain.AlarmLog" resultType="Long">
        select count(0) from dev_alarm_log l
        <where>
            <if test="configId != null "> and l.config_id = #{configId}</if>
            <if test="packNum != null "> and l.pack_num = #{packNum}</if>
            <if test="modelNum != null "> and l.model_num = #{modelNum}</if>
            <if test="itemCode != null  and itemCode != ''"> and l.item_code = #{itemCode}</if>
            <if test="alarmLevel != null  and alarmLevel != ''"> and l.alarm_level = #{alarmLevel}</if>
            <if test="status != null "> and l.status = #{status}</if>
            <if test="includeItemCodes != null and includeItemCodes.size() > 0">
                and l.item_code in
                <foreach collection="includeItemCodes" item="itemCode" open="(" separator="," close=")">
                    #{itemCode}
                </foreach>
            </if>
            <if test="excludeItemCodes != null and excludeItemCodes.size() > 0">
                and l.item_code not in
                <foreach collection="excludeItemCodes" item="itemCode" open="(" separator="," close=")">
                    #{itemCode}
                </foreach>
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and (
                strftime('%Y-%m-%d %H:%M:%S', l.create_time) &gt;= strftime('%Y-%m-%d %H:%M:%S', #{params.beginTime}) or
                strftime('%Y-%m-%d %H:%M:%S', l.update_time) &gt;= strftime('%Y-%m-%d %H:%M:%S', #{params.beginTime})
                )
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and (
                strftime('%Y-%m-%d %H:%M:%S', l.create_time) &lt;= strftime('%Y-%m-%d %H:%M:%S', #{params.endTime}) or
                strftime('%Y-%m-%d %H:%M:%S', l.update_time) &lt;= strftime('%Y-%m-%d %H:%M:%S', #{params.endTime})
                )
            </if>
        </where>
    </select>

    <insert id="insertAlarmLog" parameterType="com.shanhe.project.device.alarm.domain.AlarmLog">
        insert into dev_alarm_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="alarmId != null">alarm_id,</if>
            <if test="configId != null">config_id,</if>
            <if test="packNum != null">pack_num,</if>
            <if test="modelNum != null">model_num,</if>
            <if test="itemCode != null">item_code,</if>
            <if test="alarmLevel != null">alarm_level,</if>
            <if test="dataInfo != null">data_info,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            create_time, update_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="alarmId != null">#{alarmId},</if>
            <if test="configId != null">#{configId},</if>
            <if test="packNum != null">#{packNum},</if>
            <if test="modelNum != null">#{modelNum},</if>
            <if test="itemCode != null">#{itemCode},</if>
            <if test="alarmLevel != null">#{alarmLevel},</if>
            <if test="dataInfo != null">#{dataInfo},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            datetime(CURRENT_TIMESTAMP,'localtime'), datetime(CURRENT_TIMESTAMP,'localtime'),
        </trim>
    </insert>

    <update id="updateAlarmLog" parameterType="com.shanhe.project.device.alarm.domain.AlarmLog">
        update dev_alarm_log
        <trim prefix="SET">
            <if test="status != null">status = #{status},</if>
            <if test="alarmLevel != null">alarm_level = #{alarmLevel},</if>
            <if test="shied != null">shied = #{shied},</if>
            <if test="shiedTime != null">shied_time = #{shiedTimeStr},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="dataInfo != null">data_info = #{dataInfo},</if>
            update_time = datetime(CURRENT_TIMESTAMP,'localtime')
        </trim>
        where alarm_id = #{alarmId}
    </update>

    <delete id="deleteAlarmLogByConfigIds" parameterType="String">
        delete from dev_alarm_log where config_id in
        <foreach item="configId" collection="array" open="(" separator="," close=")">
            #{configId}
        </foreach>
    </delete>

    <delete id="deleteAlarmLogByAlarmId" parameterType="Long">
        delete from dev_alarm_log where alarm_id = #{alarmId}
    </delete>

    <delete id="deleteAlarmLogByAlarmIds" parameterType="String">
        delete from dev_alarm_log where alarm_id in
        <foreach item="alarmId" collection="array" open="(" separator="," close=")">
            #{alarmId}
        </foreach>
    </delete>

    <delete id="clear">
        delete from dev_alarm_log
        <where>
            <if test=" configId != null ">
                config_id = #{configId}
            </if>
        </where>
    </delete>

    <delete id="deleteAll" parameterType="Long">
        delete from dev_alarm_log
    </delete>

    <delete id="deleteAlarmLogByConfigIdPackNum">
        delete
        from dev_alarm_log
        where config_id = #{configId}
          and pack_num = #{packNum}
    </delete>
</mapper>