<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanhe.project.device.config.mapper.ConfigProtocolAttributeMapper">

    <resultMap type="com.shanhe.project.device.config.domain.ConfigProtocolAttribute" id="ConfigProtocolAttributeResult">
        <result property="protocolAttrId"    column="protocol_attr_id"    />
        <result property="protocolId"    column="protocol_id"    />
        <result property="attrCode"    column="attr_code"    />
        <result property="dataType" column="data_type"/>
        <result property="hasPoint" column="has_point"/>
        <result property="startPoint" column="start_point"/>
        <result property="endPoint" column="end_point"/>
        <result property="anyFlag" column="any_flag"/>
        <result property="anyExpress" column="any_express"/>
        <result property="isComplement" column="is_complement"/>
    </resultMap>

    <sql id="selectConfigProtocolAttributeVo">
        select protocol_attr_id, protocol_id, attr_code, data_type, has_point, start_point, end_point, any_flag, any_express, is_complement from dev_config_protocol_attribute
    </sql>

    <select id="selectConfigProtocolAttributeList" parameterType="com.shanhe.project.device.config.domain.ConfigProtocolAttribute" resultMap="ConfigProtocolAttributeResult">
        <include refid="selectConfigProtocolAttributeVo"/>
        <where>  
        </where>
    </select>

    <select id="selectConfigProtocolAttributeByProtocolId" parameterType="Long" resultMap="ConfigProtocolAttributeResult">
        <include refid="selectConfigProtocolAttributeVo"/>
        where protocol_id = #{protocolId}
        order by start_point
    </select>

    <select id="selectConfigProtocolAttributeByProtocolAttrId" parameterType="Long" resultMap="ConfigProtocolAttributeResult">
        <include refid="selectConfigProtocolAttributeVo"/>
        where protocol_attr_id = #{protocolAttrId}
    </select>

    <insert id="insertConfigProtocolAttribute" parameterType="com.shanhe.project.device.config.domain.ConfigProtocolAttribute">
        insert into dev_config_protocol_attribute
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="protocolAttrId != null">protocol_attr_id,</if>
            <if test="protocolId != null">protocol_id,</if>
            <if test="attrCode != null">attr_code,</if>
            <if test="dataType != null">data_type,</if>
            <if test="hasPoint != null">has_point,</if>
            <if test="startPoint != null">start_point,</if>
            <if test="endPoint != null">end_point,</if>
            <if test="anyFlag != null">any_flag,</if>
            <if test="anyExpress != null">any_express,</if>
            <if test="isComplement != null">is_complement,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="protocolAttrId != null">#{protocolAttrId},</if>
            <if test="protocolId != null">#{protocolId},</if>
            <if test="attrCode != null">#{attrCode},</if>
            <if test="dataType != null">#{dataType},</if>
            <if test="hasPoint != null">#{hasPoint},</if>
            <if test="startPoint != null">#{startPoint},</if>
            <if test="endPoint != null">#{endPoint},</if>
            <if test="anyFlag != null">#{anyFlag},</if>
            <if test="anyExpress != null">#{anyExpress},</if>
            <if test="isComplement != null">#{isComplement},</if>
         </trim>
    </insert>

    <insert id="insertList">
        insert into dev_config_protocol_attribute
        (protocol_id, attr_code, data_type, has_point, start_point, end_point, any_flag, any_express, is_complement)
        values
        <foreach collection="protocolAttributeList" item="bt" separator=",">
            (#{bt.protocolId},#{bt.attrCode},#{bt.dataType},#{bt.hasPoint},#{bt.startPoint},#{bt.endPoint},#{bt.anyFlag},#{bt.anyExpress},#{bt.isComplement})
        </foreach>
    </insert>

    <update id="updateConfigProtocolAttribute" parameterType="com.shanhe.project.device.config.domain.ConfigProtocolAttribute">
        update dev_config_protocol_attribute
        <trim prefix="SET" suffixOverrides=",">
            <if test="protocolId != null">protocol_id = #{protocolId},</if>
            <if test="attrCode != null">attr_code = #{attrCode},</if>
            <if test="dataType != null">data_type = #{dataType},</if>
            <if test="hasPoint != null">has_point = #{hasPoint},</if>
            <if test="startPoint != null">start_point = #{startPoint},</if>
            <if test="endPoint != null">end_point = #{endPoint},</if>
            <if test="anyFlag != null">any_flag = #{anyFlag},</if>
            <if test="anyExpress != null">any_express = #{anyExpress},</if>
            <if test="isComplement != null">is_complement = #{isComplement},</if>
        </trim>
        where protocol_attr_id = #{protocolAttrId}
    </update>

    <delete id="deleteConfigProtocolAttributeByProtocolAttrId" parameterType="Long">
        delete from dev_config_protocol_attribute where protocol_attr_id = #{protocolAttrId}
    </delete>

    <delete id="deleteConfigProtocolAttributeByProtocolAttrIds" parameterType="String">
        delete from dev_config_protocol_attribute where protocol_attr_id in 
        <foreach item="protocolAttrId" collection="array" open="(" separator="," close=")">
            #{protocolAttrId}
        </foreach>
    </delete>

    <delete id="deleteByProtocolIds" parameterType="String">
        delete from dev_config_protocol_attribute where protocol_id in
        <foreach item="protocolId" collection="array" open="(" separator="," close=")">
            #{protocolId}
        </foreach>
    </delete>

    <delete id="deleteByProtocolId" parameterType="Long">
        delete from dev_config_protocol_attribute where protocol_id = #{protocolId}
    </delete>
</mapper>