<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanhe.project.device.config.mapper.ConfigProtocolMapper">
    
    <resultMap type="com.shanhe.project.device.config.domain.ConfigProtocol" id="ConfigProtocolResult">
        <result property="protocolId"    column="protocol_id"    />
        <result property="protocolCode"    column="protocol_code"    />
        <result property="configId"    column="config_id"    />
        <result property="protocolType" column="protocol_type"/>
        <result property="checksumAlgorithm" column="checksum_algorithm"/>
        <result property="cmdType" column="cmd_type"/>
        <result property="cmdName" column="cmd_name"/>
        <result property="cmdContent" column="cmd_content"/>
        <result property="status"    column="status"    />
        <result property="template"    column="template"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectConfigProtocolVo">
        select protocol_id, protocol_code, config_id, protocol_type, checksum_algorithm, cmd_type, cmd_name, cmd_content, status, template, remark, create_time from dev_config_protocol
    </sql>

    <select id="selectConfigProtocolList" parameterType="com.shanhe.project.device.config.domain.ConfigProtocol" resultMap="ConfigProtocolResult">
        <include refid="selectConfigProtocolVo"/>
        <where>  
            <if test="configId != null "> and config_id = #{configId}</if>
            <if test="protocolType != null "> and protocol_type = #{protocolType}</if>
            <if test="cmdType != null "> and cmd_type = #{cmdType}</if>
            <if test="cmdName != null  and cmdName != ''"> and cmd_name like '%'||#{cmdName}||'%'</if>
            <if test="cmdContent != null  and cmdContent != ''"> and cmd_content like '%'||#{cmdContent}||'%'</if>
            <if test="protocolCode != null "> and protocol_code = #{protocolCode}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="template != null "> and template = #{template}</if>
        </where>
        order by protocol_id desc
    </select>

    <select id="selectByConfigId" parameterType="Long" resultMap="ConfigProtocolResult">
        <include refid="selectConfigProtocolVo"/>
        where config_id = #{configId}
    </select>

    <select id="selectBy" resultMap="ConfigProtocolResult">
        <include refid="selectConfigProtocolVo"/>
        where config_id = #{configId} and protocol_code = #{protocolCode} limit 1
    </select>

    <select id="selectConfigProtocolByProtocolId" parameterType="Long" resultMap="ConfigProtocolResult">
        <include refid="selectConfigProtocolVo"/>
        where protocol_id = #{protocolId}
    </select>

    <select id="hasNum" parameterType="com.shanhe.project.device.config.domain.ConfigProtocol" resultType="Long">
        SELECT count(0) FROM dev_config_protocol WHERE protocol_code = #{protocolCode} and template = 1
        <if test="protocolId != null "> and protocol_id != #{protocolId}</if>
    </select>

    <insert id="insertConfigProtocol" parameterType="com.shanhe.project.device.config.domain.ConfigProtocol">
        insert into dev_config_protocol
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="protocolId != null">protocol_id,</if>
            <if test="protocolCode != null">protocol_code,</if>
            <if test="configId != null">config_id,</if>
            <if test="protocolType != null">protocol_type,</if>
            <if test="checksumAlgorithm != null">checksum_algorithm,</if>
            <if test="cmdType != null">cmd_type,</if>
            <if test="cmdName != null">cmd_name,</if>
            <if test="cmdContent != null">cmd_content,</if>
            <if test="status != null">status,</if>
            <if test="template != null">template,</if>
            <if test="remark != null">remark,</if>
            create_time,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="protocolId != null">#{protocolId},</if>
            <if test="protocolCode != null">#{protocolCode},</if>
            <if test="configId != null">#{configId},</if>
            <if test="protocolType != null">#{protocolType},</if>
            <if test="checksumAlgorithm != null">#{checksumAlgorithm},</if>
            <if test="cmdType != null">#{cmdType},</if>
            <if test="cmdName != null">#{cmdName},</if>
            <if test="cmdContent != null">#{cmdContent},</if>
            <if test="status != null">#{status},</if>
            <if test="template != null">#{template},</if>
            <if test="remark != null">#{remark},</if>
            datetime(CURRENT_TIMESTAMP,'localtime')
         </trim>
    </insert>

    <insert id="insertList" >
        insert into dev_config_protocol (
        protocol_id, protocol_code, protocol_type, checksum_algorithm, config_id, cmd_type, cmd_name, cmd_content, remark, status, template, create_time
        ) values
        <foreach collection="list" item="item" separator=",">
            (#{item.protocolId}, #{item.protocolCode}, #{item.protocolType}, #{item.checksumAlgorithm}, #{item.configId}, #{item.cmdType}, #{item.cmdName}, #{item.cmdContent}, #{item.remark}, #{item.status}, #{item.template}, datetime(CURRENT_TIMESTAMP,'localtime'))
        </foreach>
    </insert>

    <update id="updateConfigProtocol" parameterType="com.shanhe.project.device.config.domain.ConfigProtocol">
        update dev_config_protocol
        <trim prefix="SET" suffixOverrides=",">
            <if test="configId != null">config_id = #{configId},</if>
            <if test="protocolCode != null">protocol_code = #{protocolCode},</if>
            <if test="protocolType != null">protocol_type = #{protocolType},</if>
            <if test="checksumAlgorithm != null">checksum_algorithm = #{checksumAlgorithm},</if>
            <if test="cmdType != null">cmd_type = #{cmdType},</if>
            <if test="cmdName != null">cmd_name = #{cmdName},</if>
            <if test="cmdContent != null">cmd_content = #{cmdContent},</if>
            <if test="status != null">status = #{status},</if>
            <if test="template != null">template = #{template},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where protocol_id = #{protocolId}
    </update>

    <delete id="deleteConfigProtocolByProtocolId" parameterType="Long">
        delete from dev_config_protocol where protocol_id = #{protocolId}
    </delete>

    <delete id="deleteConfigProtocolByProtocolIds" parameterType="String">
        delete from dev_config_protocol where protocol_id in 
        <foreach item="protocolId" collection="array" open="(" separator="," close=")">
            #{protocolId}
        </foreach>
    </delete>

    <select id="selectConfigProtocolByConfigIds" parameterType="String" resultMap="ConfigProtocolResult">
        <include refid="selectConfigProtocolVo"/>
        where config_id in
        <foreach item="configId" collection="array" open="(" separator="," close=")">
            #{configId}
        </foreach>
    </select>
</mapper>