<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanhe.project.device.history.mapper.HistoryLogMapper">

    <resultMap type="com.shanhe.project.device.history.domain.HistoryLog" id="HistoryLogResult">
        <result property="historyId"    column="history_id"    />
        <result property="configId"    column="config_id"    />
        <result property="packNum"    column="pack_num"    />
        <result property="itemCode"    column="item_code"    />
        <result property="itemName"    column="itemName"    />
        <result property="configName"    column="configName"    />
        <result property="alarmStatus"    column="alarmStatus"    />
        <result property="valueInfo"    column="value_info"    />
        <result property="dataInfo"    column="data_info"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectHistoryLogVo">
        select history_id, config_id, pack_num, item_code, value_info, data_info, create_time, update_time from dev_history_log
    </sql>

    <select id="lastList" parameterType="com.shanhe.project.device.history.domain.HistoryLog" resultMap="HistoryLogResult">
        WITH history_log AS (select * from dev_history_log WHERE
        history_id in (
        select max(history_id) from dev_history_log where config_id = #{configId}<if test="packNum != null "> and pack_num = #{packNum}</if>
        <if test="itemCodes != null and itemCodes.size() > 0">
            and item_code in
            <foreach collection="itemCodes" item="itemCode" open="(" separator="," close=")">
                #{itemCode}
            </foreach>
        </if>
        group by pack_num, item_code
        )
        )
        select
        l.history_id, l.config_id, l.pack_num, l.item_code, l.value_info, l.data_info, l.create_time, l.update_time,
        a.name as itemName, c.name as configName, d.status as alarmStatus
        from history_log l
        join dev_config c on l.config_id = c.config_id and c.status = 0
        join dev_config_attribute a on l.config_id = a.config_id and l.item_code = a.code and (l.pack_num is null or l.pack_num = a.pack_num) and a.status = 0
        left join dev_alarm_log d on l.config_id = d.config_id and l.item_code = d.item_code and (l.pack_num is null or l.pack_num = d.pack_num) and d.status = 1
        WHERE 1 = 1
        <if test="alarmStatus != null "> and d.status = #{alarmStatus}</if>
    </select>

    <select id="simpleList" parameterType="com.shanhe.project.device.history.domain.HistoryLog" resultMap="HistoryLogResult">
        select
        l.history_id, l.config_id, l.pack_num, l.item_code, l.value_info, l.data_info, l.create_time, l.update_time
        from dev_history_log l
        <where>
            <if test="configId != null "> and l.config_id = #{configId}</if>
            <if test="packNum != null "> and l.pack_num = #{packNum}</if>
            <if test="itemCode != null  and itemCode != ''"> and l.item_code = #{itemCode}</if>
            <if test="itemCodes != null and itemCodes.size() > 0">
                and l.item_code in
                <foreach collection="itemCodes" item="itemCode" open="(" separator="," close=")">
                    #{itemCode}
                </foreach>
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and strftime('%Y-%m-%d %H:%M:%S', l.create_time) &gt;= strftime('%Y-%m-%d %H:%M:%S', #{params.beginTime})
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and strftime('%Y-%m-%d %H:%M:%S', l.create_time) &lt;= strftime('%Y-%m-%d %H:%M:%S', #{params.endTime})
            </if>
        </where>
        order by l.history_id desc limit 10000
    </select>

    <select id="selectHistoryLogList" parameterType="com.shanhe.project.device.history.domain.HistoryLog" resultMap="HistoryLogResult">
        select
        l.history_id, l.config_id, l.pack_num, l.item_code, l.value_info, l.data_info, l.create_time, l.update_time
        from dev_history_log l
        <where>
            <if test="configId != null "> and l.config_id = #{configId}</if>
            <if test="packNum != null "> and l.pack_num = #{packNum}</if>
            <if test="itemCode != null  and itemCode != ''"> and l.item_code = #{itemCode}</if>
            <if test="itemCodes != null and itemCodes.size() > 0">
                and l.item_code in
                <foreach collection="itemCodes" item="itemCode" open="(" separator="," close=")">
                    #{itemCode}
                </foreach>
            </if>
            <if test="dataInfo != null  and dataInfo != ''"> and l.data_info like '%'||#{dataInfo}||'%'</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and strftime('%Y-%m-%d %H:%M:%S', l.create_time) &gt;= strftime('%Y-%m-%d %H:%M:%S', #{params.beginTime})
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and strftime('%Y-%m-%d %H:%M:%S', l.create_time) &lt;= strftime('%Y-%m-%d %H:%M:%S', #{params.endTime})
            </if>
        </where>
        order by l.history_id desc
    </select>

    <select id="lastHistoryLog" parameterType="com.shanhe.project.device.history.domain.HistoryLog" resultMap="HistoryLogResult">
        <include refid="selectHistoryLogVo"/>
        <where>
            <if test="configId != null "> and config_id = #{configId}</if>
            <if test="packNum != null "> and pack_num = #{packNum}</if>
            <if test="itemCode != null"> and item_code = #{itemCode}</if>
        </where>
        order by l.history_id desc limit 1
    </select>

    <select id="cacheHistoryLog" resultMap="HistoryLogResult">
        <include refid="selectHistoryLogVo"/>
        WHERE history_id in
        (SELECT max(d.history_id) FROM dev_history_log d group by d.config_id, d.item_code)
    </select>

    <select id="selectHistoryLogByHistoryId" parameterType="Long" resultMap="HistoryLogResult">
        <include refid="selectHistoryLogVo"/>
        where history_id = #{historyId}
    </select>

    <insert id="insertHistoryLog" parameterType="com.shanhe.project.device.history.domain.HistoryLog">
        insert into dev_history_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="historyId != null">history_id,</if>
            <if test="configId != null">config_id,</if>
            <if test="packNum != null">pack_num,</if>
            <if test="itemCode != null">item_code,</if>
            <if test="dataInfo != null">data_info,</if>
            <if test="valueInfo != null">value_info,</if>
            create_time, update_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="historyId != null">#{historyId},</if>
            <if test="configId != null">#{configId},</if>
            <if test="packNum != null">#{packNum},</if>
            <if test="itemCode != null">#{itemCode},</if>
            <if test="dataInfo != null">#{dataInfo},</if>
            <if test="valueInfo != null">#{valueInfo},</if>
            datetime(CURRENT_TIMESTAMP,'localtime'),datetime(CURRENT_TIMESTAMP,'localtime'),
        </trim>
    </insert>

    <insert id="insertList" parameterType="com.shanhe.project.device.history.domain.HistoryLog">
        insert into dev_history_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            history_id,
            config_id,
            pack_num,
            item_code,
            data_info,
            value_info,
            create_time,
            update_time,
        </trim> values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.historyId},
            #{item.configId},
            #{item.packNum},
            #{item.itemCode},
            #{item.dataInfo},
            #{item.valueInfo},
            datetime(CURRENT_TIMESTAMP,'localtime'),
            datetime(CURRENT_TIMESTAMP,'localtime')
            )
        </foreach>
    </insert>

    <update id="updateHistoryLog" parameterType="com.shanhe.project.device.history.domain.HistoryLog">
        update dev_history_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="configId != null">config_id = #{configId},</if>
            <if test="packNum != null">item_code = #{packNum},</if>
            <if test="itemCode != null">item_code = #{itemCode},</if>
            <if test="dataInfo != null">data_info = #{dataInfo},</if>
            <if test="valueInfo != null">value_info = #{valueInfo},</if>
            update_time = datetime(CURRENT_TIMESTAMP,'localtime'),
        </trim>
        where history_id = #{historyId}
    </update>

    <update id="updateTime" parameterType="Long">
        update dev_history_log set update_time = datetime(CURRENT_TIMESTAMP,'localtime') where history_id = #{historyId}
    </update>

    <delete id="deleteHistoryLogByHistoryId" parameterType="Long">
        delete from dev_history_log where history_id = #{historyId}
    </delete>

    <delete id="deleteHistoryLogByHistoryIds" parameterType="String">
        delete from dev_history_log where history_id in
        <foreach item="historyId" collection="array" open="(" separator="," close=")">
            #{historyId}
        </foreach>
    </delete>

    <delete id="deleteHistoryLog" parameterType="Integer">
        delete from dev_history_log where create_time  &lt;= DATE('now', '-${dayNum} day', 'localtime')
    </delete>

    <delete id="deleteByConfigId">
        delete from dev_history_log where config_id = #{configId}
    </delete>

    <select id="selectCount" resultType="java.lang.Long">
        select
        count()
        from dev_history_log l
        <where>
            <if test="configId != null "> and l.config_id = #{configId}</if>
            <if test="packNum != null "> and l.pack_num = #{packNum}</if>
            <if test="itemCode != null  and itemCode != ''"> and l.item_code = #{itemCode}</if>
            <if test="itemCodes != null and itemCodes.size() > 0">
                and l.item_code in
                <foreach collection="itemCodes" item="itemCode" open="(" separator="," close=")">
                    #{itemCode}
                </foreach>
            </if>
            <if test="dataInfo != null  and dataInfo != ''"> and l.data_info like '%'||#{dataInfo}||'%'</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and strftime('%Y-%m-%d %H:%M:%S', l.create_time) &gt;= strftime('%Y-%m-%d %H:%M:%S', #{params.beginTime})
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and strftime('%Y-%m-%d %H:%M:%S', l.create_time) &lt;= strftime('%Y-%m-%d %H:%M:%S', #{params.endTime})
            </if>
        </where>
    </select>
</mapper>