<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanhe.project.device.template.mapper.TemplateMapper">

    <resultMap type="com.shanhe.project.device.template.domain.Template" id="TemplateResult">
        <result property="tmplId"    column="tmpl_id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="subType"    column="sub_type"    />
        <result property="typeCode"    column="type_code"    />
        <result property="portType"    column="port_type"    />
        <result property="baudRate"    column="baud_rate"    />
        <result property="dataBits"    column="data_bits"    />
        <result property="stopBits"    column="stop_bits"    />
        <result property="intervalTime"    column="interval_time"    />
        <result property="parityBits"    column="parity_bits"    />
        <result property="status"    column="status"    />
        <result property="innerFlag"    column="inner_flag"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectTemplateVo">
        select tmpl_id, name, type, sub_type, type_code, port_type, baud_rate, data_bits, stop_bits, interval_time, parity_bits, status, inner_flag, remark, create_time from dev_template
    </sql>

    <select id="selectTemplateList" parameterType="com.shanhe.project.device.template.domain.Template" resultMap="TemplateResult">
        <include refid="selectTemplateVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like '%'||#{name}||'%'</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="innerFlag != null "> and inner_flag = #{innerFlag}</if>
        </where>
        order by type, sub_type, tmpl_id
    </select>

    <select id="selectDictList" resultType="com.shanhe.common.utils.bean.Dict">
        select tmpl_id as dictValue, name as dictLabel from dev_template where status = 0 order by create_time desc
    </select>

    <select id="selectTemplateByTmplId" parameterType="Long" resultMap="TemplateResult">
        <include refid="selectTemplateVo"/>
        where tmpl_id = #{tmplId}
    </select>

    <select id="hasName" parameterType="com.shanhe.project.device.template.domain.Template" resultType="Long">
        SELECT count(0) FROM dev_template
        <where>
            <if test="name != null  and name != ''"> and name = #{name}</if>
            <if test="tmplId != null "> and tmpl_id != #{tmplId}</if>
        </where>
    </select>

    <insert id="insertTemplate" parameterType="com.shanhe.project.device.template.domain.Template">
        insert into dev_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tmplId != null">tmpl_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="type != null">type,</if>
            <if test="subType != null">sub_type,</if>
            <if test="typeCode != null">type_code,</if>
            <if test="portType != null">port_type,</if>
            <if test="baudRate != null">baud_rate,</if>
            <if test="dataBits != null">data_bits,</if>
            <if test="stopBits != null">stop_bits,</if>
            <if test="intervalTime != null">interval_time,</if>
            <if test="parityBits != null">parity_bits,</if>
            <if test="status != null">status,</if>
            <if test="innerFlag != null">inner_flag,</if>
            <if test="remark != null">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tmplId != null">#{tmplId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="subType != null">#{subType},</if>
            <if test="typeCode != null">#{typeCode},</if>
            <if test="portType != null">#{portType},</if>
            <if test="baudRate != null">#{baudRate},</if>
            <if test="dataBits != null">#{dataBits},</if>
            <if test="stopBits != null">#{stopBits},</if>
            <if test="intervalTime != null">#{intervalTime},</if>
            <if test="parityBits != null">#{parityBits},</if>
            <if test="status != null">#{status},</if>
            <if test="innerFlag != null">#{innerFlag},</if>
            <if test="remark != null">#{remark},</if>
            (datetime(CURRENT_TIMESTAMP,'localtime'))
        </trim>
    </insert>

    <update id="updateTemplate" parameterType="com.shanhe.project.device.template.domain.Template">
        update dev_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="subType != null">sub_type = #{subType},</if>
            <if test="typeCode != null">type_code = #{typeCode},</if>
            <if test="portType != null">port_type = #{portType},</if>
            <if test="baudRate != null">baud_rate = #{baudRate},</if>
            <if test="dataBits != null">data_bits = #{dataBits},</if>
            <if test="stopBits != null">stop_bits = #{stopBits},</if>
            <if test="intervalTime != null">interval_time = #{intervalTime},</if>
            <if test="parityBits != null">parity_bits = #{parityBits},</if>
            <if test="status != null">status = #{status},</if>
            <if test="innerFlag != null">inner_flag = #{innerFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where tmpl_id = #{tmplId}
    </update>

    <delete id="deleteTemplateByTmplId" parameterType="Long">
        delete from dev_template where tmpl_id = #{tmplId}
    </delete>

    <delete id="deleteTemplateByTmplIds" parameterType="Long">
        delete from dev_template where tmpl_id in
        <foreach item="tmplId" collection="array" open="(" separator="," close=")">
            #{tmplId}
        </foreach>
    </delete>

</mapper>