<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanhe.project.monitor.patrol.mapper.PatrolTemplateContentMapper">

    <resultMap type="com.shanhe.project.monitor.patrol.domain.PatrolTemplateContent" id="PatrolTemplateContentResult">
        <result property="id" column="id"/>
        <result property="templateId" column="template_id"/>
        <result property="content" column="content"/>
    </resultMap>

    <sql id="selectPatrolTemplateContentVo">
        id as id, template_id as templateId, content as content
    </sql>

    <sql id="SQL_WHERE">
        <if test="templateId != null ">
            and template_id = #{templateId}
        </if>
        <if test="content != null  and content != ''">
            and content like '%'||#{content}||'%'
        </if>
    </sql>

    <select id="selectList" parameterType="com.shanhe.project.monitor.patrol.domain.PatrolTemplateContent"
            resultType="com.shanhe.project.monitor.patrol.domain.PatrolTemplateContent">
        select
        <include refid="selectPatrolTemplateContentVo"/>
        from dev_patrol_template_content
        <where>
            <include refid="SQL_WHERE"/>
        </where>
    </select>

    <select id="selectOne" parameterType="com.shanhe.project.monitor.patrol.domain.PatrolTemplateContent"
            resultType="com.shanhe.project.monitor.patrol.domain.PatrolTemplateContent">
        select
        <include refid="selectPatrolTemplateContentVo"/>
        from dev_patrol_template_content
        <where>
            <include refid="SQL_WHERE"/>
        </where>
    </select>

    <select id="selectById" parameterType="Long"
            resultType="com.shanhe.project.monitor.patrol.domain.PatrolTemplateContent">
        select
        <include refid="selectPatrolTemplateContentVo"/>
        from dev_patrol_template_content
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.shanhe.project.monitor.patrol.domain.PatrolTemplateContent">
        insert into dev_patrol_template_content(id, template_id, content)
        values (#{id}, #{templateId}, #{content})
    </insert>

    <insert id="insertList" >
        insert into dev_patrol_template_content (
        id ,
        template_id ,
        content
        ) values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id} ,
            #{item.templateId} ,
            #{item.content}
            )
        </foreach>

    </insert>

    <update id="update" parameterType="com.shanhe.project.monitor.patrol.domain.PatrolTemplateContent">
        update dev_patrol_template_content
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null and content != ''">
                content = #{content},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from dev_patrol_template_content where id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="String">
        delete from dev_patrol_template_content where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByTemplateId" parameterType="Long">
        delete from dev_patrol_template_content where template_id = #{id}
    </delete>
</mapper>