<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanhe.project.monitor.patrol.mapper.PatrolTemplateMapper">

    <resultMap type="com.shanhe.project.monitor.patrol.domain.PatrolTemplate" id="PatrolTemplateResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="timestamp" column="timestamp"/>
    </resultMap>

    <sql id="selectPatrolTemplateVo">
        id, name, remark, create_time as createTime, update_time as updateTime, status, timestamp
    </sql>

    <sql id="SQL_WHERE">
        <if test="name != null  and name != ''">
            and name like '%'||#{name}||'%'
        </if>
        <if test="status != null ">
            and status = #{status}
        </if>
    </sql>

    <select id="selectList" parameterType="com.shanhe.project.monitor.patrol.domain.PatrolTemplate"
            resultType="com.shanhe.project.monitor.patrol.domain.PatrolTemplate">
        select
        <include refid="selectPatrolTemplateVo"/>
        from dev_patrol_template
        <where>
            <include refid="SQL_WHERE"/>
        </where>
    </select>

    <select id="selectOne" resultType="com.shanhe.project.monitor.patrol.domain.PatrolTemplate">
        select
        <include refid="selectPatrolTemplateVo"/>
        from dev_patrol_template
        where status = 0 order by timestamp desc limit 1
    </select>

    <select id="selectById" parameterType="Long"
            resultType="com.shanhe.project.monitor.patrol.domain.PatrolTemplate">
        select
        <include refid="selectPatrolTemplateVo"/>
        from dev_patrol_template
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.shanhe.project.monitor.patrol.domain.PatrolTemplate">
        insert into dev_patrol_template (id, name, status, timestamp, remark, create_time, update_time)
        values (#{id}, #{name}, #{status}, #{timestamp}, #{remark},
                datetime(CURRENT_TIMESTAMP,'localtime'), datetime(CURRENT_TIMESTAMP,'localtime'))
    </insert>

    <insert id="insertList" >
        insert into dev_patrol_template (
        id ,
        name ,
        remark ,
        create_time ,
        update_time ,
        status,
         timestamp
        ) values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id} ,
            #{item.name} ,
            #{item.remark} ,
            datetime(CURRENT_TIMESTAMP,'localtime') ,
            datetime(CURRENT_TIMESTAMP,'localtime') ,
            #{item.status},
            #{item.timestamp}
            )
        </foreach>

    </insert>

    <update id="update" parameterType="com.shanhe.project.monitor.patrol.domain.PatrolTemplate">
        update dev_patrol_template SET
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="remark != null">
            remark = #{remark},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        update_time = datetime(CURRENT_TIMESTAMP,'localtime'),
        timestamp = #{timestamp}
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from dev_patrol_template where id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="String">
        delete from dev_patrol_template where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>